<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Adding Books</title>
	</head>
	<body>
		<form method="post" action="/insert">
			Title: <input id="test1" type="text">
			Author: <input id="test2" type="text">
			Genre: <input id="test3" type="text">
			Description: <input id="test4" type="text">
			Date: <input id="test5" type="text">
		</form>

		<button type="submit" name="action">Add</button>
	</body>
</html>
